<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceMain"/>
    </bean>

    <!-- 数据源 -->
    <bean id="dataSourceMain" class="com.github.mybatis.spring.DynamicDataSource">
        <property name="configName" value="emailproxy-db"/>
    </bean>

    <!-- define the SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceMain"/>
        <property name="typeAliasesPackage" value="com.facishare.open.emailproxy.common.entity"/>
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="mapperLocations">
            <list>
                <value>classpath*:/mapping/*Mapper*.xml</value>
            </list>
        </property>
    </bean>
    <!-- scan for mapper and let them be autowired -->
    <bean class="com.github.mybatis.spring.ScannerConfigurer">
        <property name="basePackage" value="com.facishare.open.emailproxy.provider.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- redis数据源 -->
    <bean id="jedisSupport" class="com.github.jedis.support.JedisFactoryBean">
        <property name="configName" value="emailproxy-redis"/>
    </bean>
</beans>
